/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat&family=Open+Sans&family=Raleway:wght@900&family=Roboto&family=Source+Code+Pro:wght@700&family=Ubuntu:wght@700&display=swap');



:root {
    --primary-bg: #262626;
    --dark-bg: #171717;
    --dark-bg-alternate: #404040;
    
    --text-color-primary: #ffffff;
    --theme-color-primary: #34D399;
}

html, body {
    background-color: var(--primary-bg);
    margin: 0;
    padding: 0;
    color: var(--text-color-primary);
    font-family: 'Roboto', sans-serif;
}



/* typography */
h1 {
    font-family: 'Raleway', sans-serif;
    color: var(--theme-color-primary);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--theme-color-primary);
}

p {
    font-family: 'Roboto', sans-serif;
}

small {
    font-family: 'Open Sans', sans-serif;
}

.text-nav {
    font-family: 'Comfortaa', cursive;
}

.text-footer {
    font-family: 'Source Code Pro', monospace;
}

.text-link {
    font-family: 'Ubuntu', sans-serif;
}



/* sectiion */
section{
    padding: 1rem;
    margin: 1rem 2rem;
    border: thin solid var(--theme-color-primary);
}

.section-main {
    background-color: var(--dark-bg);
}

.section-alternate {
    background-color: var(--dark-bg-alternate);
}



/* buttons */
button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
}

.button-primary {
    background-color: var(--theme-color-primary);
    border: thin solid var(--dark-bg);
    color: var(--dark-bg);
}

.button-alternate{
    background-color: var(--primary-bg);
    border: thin solid var(--theme-color-primary);
    color: var(--theme-color-primary);
}

/* lists */
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 0 1rem;
}

ol {
    margin: 0 auto;
    padding: 0 0 0 2rem;
}